.headingspan {

    padding: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2rem;

    display: inline-block;

    animation: bounce;
    animation-duration: 2s;
}
